.idea
CMakeLists.txt
cmake-build-*
cmake_build_*
ESPHamClock
ESPHamClock.*
_ESPHameClock.*
ESPHamClock.old
hamclock-fb0-*
hamclock-web-*
hamclock-800*
hamclock-1600*
hamclock-2400*
hamclock-3200*
hamclock.desktop
hamclock.png
*.zip
